@charset "UTF-8";

/*
    Paleta de cores:
    Verde: #51CF6E
    Verde escuro: #081C1B
    Cinza: #191a19
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #081C1B;
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login {
    background-color: #191a19;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: black url(../imagens/pexels-oleksandr-tiupa-192136\ \(1\).jpg) no-repeat;
    background-size: auto;
    background-position: center center;
    height: 40%;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: grey;
    height: 40px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #51CF6E;
    color: white;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #081C1B;
    border: 2px solid white;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

form > a.botao:hover {
    background-color: #081C1B;
    border: 2px solid white;
    color: white;
}